$cl-1: #37adda;
$cl-2: #e2e2e2;
$cl-3: #fcfdfd;
$cl-4: #daf1f9;
$cl-info: #37adda;
$cl-danger: #ff6767;
$cl-success: #2ca746;
$cl-warning: #ea7f08;
$cl-secondary: #626262;
$cl-text: #4d4d4d;
$cl-blue: #005aaa;
$cl-label: #878787;
$cl-btn: #36a7d6;


.table-responsive {
	overflow: auto;
	.table {
		// width: 800px;
		tr {
			th {
				color: $cl-text;
				padding: 16px 12px;
				background: $cl-4;
				font-weight: 500;
				border: none;
				vertical-align: middle;
			}
			td {
				padding: 20px 12px;
				border-color: $cl-2;
				font-size: 16px;
				font-weight: 400;
				vertical-align: middle;
				a {
					text-decoration: underline;
					color: $c3;
				}
				.dot {
					display: inline-block;
					width: 10px;
					height: 10px;
					border-radius: 12px;
					margin-right: 4px;
					&.danger {
						background: #ff0000;
					}
					&.success {
						background: #77c509;
					}
				}
			}
			&:first-child {
				td {
					border-top: none;
				}
			}
			&:last-child {
				td {
					border-bottom: 1px solid $cl-2;
				}
			}
		}
	}
	@media (max-width: 1200px) {
		overflow-x: auto;
		.table {
			width: 800px;
		}
	}
	@media (max-width:500px) {
		.table {
			width: 700px;
		}
	}
}

.w8 {
	width: 830px !important;
}
.title-head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	padding: 32px 0;
	h2 {
		text-align: center;
		font-size: 32px;
		margin-bottom: 24px;
		color: $cl-text;
		strong {
			color: $cl-blue;
		}
	}
	.list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.item {
			width: 32%;
			display: flex;
			align-items: center;
			img {
				height: rem(24);
				width: auto;
			}
			p {
				padding-left: rem(8);
				color: $cl-label;
				font-weight: 500;
			}
		}
	}
}
.around {
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $cl-2;
	padding: rem(60) rem(40);
	.box {
		width: 100%;
		.title-group {
			.title {
				font-size: 28px;
				line-height: 25px;
				color: $cl-blue;
				font-weight: 600;
				text-align: center;
			}
			p {
				font-size: rem(18);
				color: $cl-secondary;
				font-weight: 600;
				text-align: center;
				padding-top: rem(20);
			}
		}
		.box-link {
			padding: rem(40) 0;
			label {
				font-size: rem(18);
				color: $cl-label;
				font-weight: 600;
				display: block;
				text-align: center;
				margin-bottom: rem(20);
			}
			.link {
				position: relative;
				border-radius: 12px;
				background-color: #ffffff;
				border: 1px solid $cl-1;
				height: 55px;
				line-height: 55px;
				p {
					font-size: rem(16);
					color: $cl-blue;
					font-weight: 400;
					text-align: center;
				}
				a {
					display: inline-block;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
					color: $cl-blue;
				}
			}
		}
		.box-qr {
			display: flex;
			justify-content: space-around;
			padding-bottom: rem(60);
			.child {
				width: 40%;
				text-align: center;
				label {
					text-align: center;
					margin-bottom: 12px;
					display: block;
					font-size: rem(18);
					color: $cl-label;
				}
				.child-btn {
					margin: 0 auto;
					width: 270px;
					height: 270px;
					border-radius: 15px;
					border: 1px dashed $cl-blue;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						// width: 60%;
					}
				}
			}
		}
		.box-tab {
			.nav-c {
				margin: 0 auto;
				margin-bottom: 32px;
				ul {
					display: flex;
					li {
						width: 50%;
						text-align: center;
						a {
							border: 1px solid $cl-2;
							display: block;
							height: 50px;
							line-height: 50px;
							font-weight: 600;
							color: $cl-label;
							border-radius: 8px;
							text-transform: uppercase;
						}
						&.active {
							margin: 0 -10px;	
							a {
								background: $cl-4;
								color: $cl-blue;
								border: 1px solid $cl-4;
							}
						}
					}
				}
			}
		}
		.collaborator-register {
			text-align: center;
			padding-top: rem(80);
			img {
				width: 80%;
			}
			.btn {
				margin: rem(60) 0 rem(100);
			}
		}
	}

	&.collaborators {
		.box {
			.box-tab {
				.table-responsive {
					.table {
						tr {
							td {
								
								&:first-child {
									span {
										display: block;
										font-weight: 400;
										margin-bottom: rem(4);
										&.success {
											color: $cl-success;
										}
										&.warning {
											color: $cl-warning;
										}
										&:last-child {
											margin-bottom: 0;
										}
									}
								}
								&:last-child {
									width: 20%;
								}
								.btn {
									width: 220px;
									text-decoration: none;
									background: #fff;
									color: $cl-blue;
									font-weight: 700;
									border: 1px solid $cl-blue;
									&:hover {
										color: #fff;
										background: $cl-blue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.btn {
	width: 180px;
	height: 50px;
	border-radius: 12px;
	background-color: $cl-btn;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 600;
	&:hover {
		opacity: 0.7;
	}
}

.dropdown-toggle {
	&::after {
		color: $cl-success;
	}
}
.dropdown-menu {
	background: $cl-4;
	padding: 0;
	border: none;
	.dropdown-item {
		text-decoration: none !important;
		color: $cl-text !important;
		padding: 8px 12px;
		&.active {
			background: $cl-1;
			color: #fff !important;
		}
		&:hover {
			background: $cl-1;
			color: #fff !important;
		}
	}
}

.modal-general {
	.modal-dialog {
		max-width: fit-content;
		// background: #fff;
		.modal-content {
			padding: rem(32) 0;
			.modal-header {
				border: none;
				.modal-title {
					font-size: 25px;
					line-height: 25px;
					color: $cl-blue;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					display: block;
					width: 100%;
				}
			}
			.modal-body {
				padding: 0;
			}
			.table {
				text-align: left;
				margin-top: 12px;
				thead {
					th {
						background: $c6;
						border: none;
						font-weight: bold;
						padding: 16px;
						color: $cl-text;
						&:first-child {
							padding-left: 80px;
						}
						&:last-child {
							padding-right: 80px;
						}
					 }
				}
				tbody {
					tr {
						td {
							// border: none;
							white-space: nowrap;
							padding: 20px 12px;
							a {
								text-decoration: underline;
								color: $c3;
							}
							.dot {
								display: inline-block;
								width: 10px;
							   	height: 10px;
							   	border-radius: 12px;
							   	margin-right: 4px;
								&.danger {
									background: #ff0000;
								}
								&.success {
									background: #77c509;
								}
							}
							&:first-child {
								border: none;
							}
							&:last-child {
								border: none;
							}
						}
					}
				} 
				
				tfoot  {
					td {
						background: $c6;
						border: none;
						font-weight: normal;
						&:first-child {
							border-top-left-radius: 4px;
						   border-bottom-left-radius: 4px;
						}
						&:last-child {
							border-top-right-radius: 4px;
							border-bottom-right-radius: 4px;
						}
					}
				}
			}
		}
		
	}
	@media (min-width: 1590px) {
		.modal-dialog {
			width: 1500px !important;
			max-width: inherit;
		}
	}
	@media (max-width: 500px) {
		.table {
			width: 960px;
		}
	}
}

.modal-confirm {
	.modal-content {
		padding: 40px 20px;
		.modal-body {
			text-align: center;
			padding: 0;
			h4 {
				font-size: 16px;
				line-height: 20px;
				color: #616061;
				font-weight: 400;
				margin-bottom: 12px;
			}
			p {
				font-size: 18px;
				line-height: 25px;
				color: $cl-blue;
				font-weight: bold;
			}
			form {
				.title {
					font-size: 18px;
					line-height: 25px;
					color: $cl-blue;
					font-weight: 600;
					margin-bottom: 12px;
				}
				.des {
					font-size: 16px;
					line-height: 20px;
					color: #616061;
					font-weight: 400;
					a {
						color: $cl-blue;
						font-weight: bold;
						text-decoration: none;
					}
				}
				.withdraw-money__2-input {
					padding: 32px 0 40px;
					display: flex;
					justify-content: center;
					&>input {
						width: 55px;
						height: 60px;
						display: inline-block;
						margin: 0 12px;
						border: none;
						background: #fff;
						text-align: center;
						font-weight: bold;
						font-size: 27px;
						color: #37acda;
						border-radius: 8px;
						box-shadow: 0 1px 4px $cl-label;	
						&:focus {
							border: 1px solid $cl-label;
						}
						&.active {
							border: 1px solid $cl-label;
						}
					}
				}
				.form-btn {
					padding-top: 20px;
				}
			}
		}
		.modal-footer {
			display: flex;
			justify-content: center;
			border: none;
			.btn {
				border: none;
				width: 150px;
				height: 42px;
				border-radius: 8px;
				margin: 0 12px;
				&.btn-ok  {
					background: $cl-btn;
				}
				&.btn-cancel  {
					background: $cl-blue;
					
				}
			}
		}
	}
}